  .contact-page {
  h3{
   font-size: 16px;
   font-weight: 700;
   color: #ffffff;
  }
  
.contact-form {
   

    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            opacity: 0;
            overflow: hidden;
            display: block;
            clear: both;
            position: relative;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            
        }

        li.half {
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child {
                margin-left: 0;
            }

           
        }
    }


    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #ffffff;
        color: rgb(0, 0, 0);
        height: 50px;
        font-size: 16px;
        padding: 0  20px;
        box-sizing: border-box;
        border-radius: 10px;
    }
    
    textarea {
        width: 100%;
        border: 0;
        background: #ffffffb2;
        height: 50px;
        font-size: 16px;
        color:#080808;
        padding: 20px;
        box-sizing: border-box;
        min-height: 150px;
        border-radius: 10px;
    }

    .flat-button {
        color: #ffffff;
        font-size: 19px;
        background: #000000;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 2px solid #050505;
        border-radius: 4px;
        background: 0 0;
        text-align: center;
        float: right;
        margin-right: 10px;
    }

    .flat-button:hover {
        animation: beatFade 0.1s;
        background: #f08b08;
        color: #ffffff;
    }
}

.map-wrap {
    background: rgba(154, 16, 209, 0.788);
    float: right;
    width: 50%;
    height: 120%;
    margin-top: -3%;
}

.leaflet-container {
    position: relative;
    width: 100%;
    height: 120%;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
}

.info-map {
    position: absolute;
    background: rgba(0, 0, 0, 0.945);
    top: 50px;
    right: 30%;
    z-index: 999999;
    width: 267px;
    padding: 20px;
    color: #e5e1eb;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
        font-size: 16px;

        span {
            color: #804ce7;
        }
        

    }
}

  }
@media screen and (max-width: 1200px) {
    .map-wrap {
        float: none;
        margin: 0;
        width: 90%;
        height: 4px;
    }

    .info-map {
        display: none;
    }

    
    
}


