html {
  font-size: 62.5%;
}


body {
  margin: 0;
  font: 300 11px/1.4'Helvetica Neue', sans-serif;
  color: #1f1e1e;
  background: rgba(22, 211, 157, 0.899);
  overflow: hidden;
  display: block;
  box-shadow: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: none;
  background-size: cover;
  background-position: center center;
  
   /* Adjust as needed */
}

@media screen and (max-width: 1700px) {

  body {
    overflow: visible;
  }
  
}

